@using TiendaVirtualCore.Web.ViewModels.Ciudad;
@model CiudadSortListVm

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-3">
    <div class="row mt-4">
        <div class="col-6">
            <h2>Lista de Ciudades</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-asp-controller="Ciudad">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Nueva Ciudad
            </a>
        </div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-auto">
                <label>Ordenar:</label>
            </div>
            <div class="col-auto">
                @Html.DropDownListFor(model=>Model.SortBy, new SelectList(Model.Sorts, "Value", "Key"), "Seleccione Orden",new {@class="form-select"})
            </div>
            <div class="col-auto">
                <input type="submit" name="SortBy" value="Aplicar" class="btn btn-secondary" />
            </div>
        </div>

    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.Ciudades.First().NombreCiudad"></label>
                </th>
                <th>
                    <label asp-for="@Model.Ciudades.First().NombrePais"></label>
                </th>
                <th>
                    Acciones
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Ciudades.Any())
            {
                foreach (var item in Model.Ciudades)
                {
                    <tr>
                        <td>
                            @item.NombreCiudad
                        </td>
                        <td>
                            @item.NombrePais
                        </td>
                        <td >
                            <a class="btn btn-warning" asp-action="Edit" asp-controller="Ciudad" asp-route-ciudadId="@item.CiudadId">
                                <i class="bi bi-pencil-fill"></i> &nbsp;
                                Editar
                            </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Ciudad" asp-route-ciudadId="@item.CiudadId">
                                <i class="bi bi-trash"></i> &nbsp;
                                Borrar
                            </a>

                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-danger text-center">
                        No se han agregado ciudades todavía
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>